
<div class="panel panel-default" ng-controller="control_update_contacts">
 
    <div class="panel-body">
    <div ng-bind-html="error"></div>
    <div class="row">
        <div class="col-gd-8 col-ra-8 col-oc-8">
            <div class="form-group">
                <label for="" class="control-label">Name</label>
                <input class="form-control" type="text" ng-model="name" id="name" maxlength="80" required="required"/>
                <input class="form-control" type="hidden" ng-model="id" required="required"/>
                <span class="text-muted">Full name , charactor only</span>
                <span  class="help-block"></span>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="form-group">
                <label for="" class="control-label">Number</label>
                <input class="form-control" type="tel" ng-model="number" id="number" maxlength="18" required="required"/>
                <span class="text-muted">Phone number , number only</span>
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="form-group">
                <label for="" class="control-label">Job</label>
                <input class="form-control" type="text" ng-model="job" id="job" maxlength="50" required="required"/>
                <span class="text-muted">Person job , charactor only</span>
                <span class="help-block"></span>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="form-group">
                <label for="" class="control-label">Address</label>
                <input class="form-control" type="text" ng-model="address" id="location" maxlength="500" required="required"/>
                <span class="text-muted">Full location &amp; address</span>
                <span class="help-block"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <hr/>
        <div class="col-lg-10">
            <div class="btn-toolbar">
                <button class="btn btn-primary" ng-click="edit()">Update</button>  
            </div>
        </div>
    </div>
</div>    
    


